<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
      <rosparam command="load" file="$(find velodyne_pointcloud)/laser_filter.yaml"/>
      <remap from="scan" to="/scan"/> <!-- 輸入 -->
      <remap from="scan_filtered" to="/scan_filtered"/> <!-- 輸出 -->
  </node>
</launch>
